node_modules
dist
build
coverage
.nyc_output

.env
.env.*
!.env.example

.git
.gitignore
.github
.docker

**/*.log
logs

**/*.test.ts
**/*.spec.ts
__tests__
jest.config.*

README.md
CHANGELOG.md
docs

.eslintrc*
.prettierrc*
tsconfig*.json
!tsconfig.build.json

Makefile
docker-compose*
*.sh